# Student Loan Risk with Deep Learning

In [53]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [54]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [55]:
loans_df["credit_ranking"].unique()

array([5, 6, 7, 4, 8, 3])

In [79]:
loans_df.shape

(1599, 12)

In [56]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [57]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y.head()

0    5
1    5
2    5
3    6
4    5
Name: credit_ranking, dtype: int64

In [58]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns=["credit_ranking"]).copy()

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [59]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [60]:
# Create a StandardScaler instance
scaler = StandardScaler()


# Fit the scaler to the features training dataset
scaler.fit(X_train)


# Scale the features data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [61]:
# Define the the number of inputs (features) to the model
number_inputs = 11


# Review the number of features
print(number_inputs)

11

In [62]:
# Define the number of neurons in the output layer
number_output_nodes = 1

In [63]:
# Define the number of hidden nodes for the first hidden layer
number_hidden_nodes1 = 8

# Review the number hidden nodes in the first layer
print(number_hidden_nodes1)

8

In [64]:
# Define the number of hidden nodes for the second hidden layer
number_hidden_nodes2 = 3

# Review the number hidden nodes in the second layer
print(number_hidden_nodes2)

3

In [65]:
# Create the Sequential model instance
model = Sequential()

In [66]:
# Add the first hidden layer
model.add(Dense(units=number_hidden_nodes1, input_dim=number_inputs, activation="relu"))

In [67]:
# Add the second hidden layer
model.add(Dense(units=number_hidden_nodes2, activation="relu"))

In [68]:
# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(units=number_output_nodes, activation="linear"))

In [69]:
# Display the Sequential model summary
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 96

 dense_4 (Dense)             (None, 3)                 27

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 127 (508.00 Byte)
Trainable params: 127 (508.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [70]:
# Compile the Sequential model
model.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [71]:
# Fit the model using 50 epochs and the training data
deep_net_model = model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

38/38 [==============================] - 1s 1ms/step - loss: 30.2537 - mse: 30.2537
Epoch 2/50
38/38 [==============================] - 0s 1ms/step - loss: 27.7503 - mse: 27.7503
Epoch 3/50
38/38 [==============================] - 0s 983us/step - loss: 24.5817 - mse: 24.5817
Epoch 4/50
38/38 [==============================] - 0s 942us/step - loss: 20.9961 - mse: 20.9961
Epoch 5/50
38/38 [==============================] - 0s 935us/step - loss: 17.3365 - mse: 17.3365
Epoch 6/50
38/38 [==============================] - 0s 974us/step - loss: 13.8582 - mse: 13.8582
Epoch 7/50
38/38 [==============================] - 0s 934us/step - loss: 10.8985 - mse: 10.8985
Epoch 8/50
38/38 [==============================] - 0s 942us/step - loss: 8.4562 - mse: 8.4562
Epoch 9/50
38/38 [==============================] - 0s 935us/step - loss: 6.5048 - mse: 6.5048
Epoch 10/50
38/38 [==============================] - 0s 988us/step - loss: 4.9770 - mse: 4.9770
Epoch 11/50
38/38 [==============================] - 0s 951us/step - loss: 3.8684 - mse: 3.8684
Epoch 12/50
38/38 [==============================] - 0s 941us/step - loss: 3.1454 - mse: 3.1454
Epoch 13/50
38/38 [==============================] - 0s 1ms/step - loss: 2.7228 - mse: 2.7228
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 2.4701 - mse: 2.4701
Epoch 15/50
38/38 [==============================] - 0s 1ms/step - loss: 2.2842 - mse: 2.2842
Epoch 16/50
38/38 [==============================] - 0s 1ms/step - loss: 2.1385 - mse: 2.1385
Epoch 17/50
38/38 [==============================] - 0s 1ms/step - loss: 2.0154 - mse: 2.0154
Epoch 18/50
38/38 [==============================] - 0s 1ms/step - loss: 1.9124 - mse: 1.9124
Epoch 19/50
38/38 [==============================] - 0s 1ms/step - loss: 1.8218 - mse: 1.8218
Epoch 20/50
38/38 [==============================] - 0s 1ms/step - loss: 1.7415 - mse: 1.7415
Epoch 21/50
38/38 [==============================] - 0s 1ms/step - loss: 1.6660 - mse: 1.6660
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 1.6010 - mse: 1.6010
Epoch 23/50
38/38 [==============================] - 0s 1ms/step - loss: 1.5370 - mse: 1.5370
Epoch 24/50
38/38 [==============================] - 0s 975us/step - loss: 1.4837 - mse: 1.4837
Epoch 25/50
38/38 [==============================] - 0s 937us/step - loss: 1.4295 - mse: 1.4295
Epoch 26/50
38/38 [==============================] - 0s 934us/step - loss: 1.3802 - mse: 1.3802
Epoch 27/50
38/38 [==============================] - 0s 947us/step - loss: 1.3336 - mse: 1.3336
Epoch 28/50
38/38 [==============================] - 0s 957us/step - loss: 1.2921 - mse: 1.2921
Epoch 29/50
38/38 [==============================] - 0s 934us/step - loss: 1.2532 - mse: 1.2532
Epoch 30/50
38/38 [==============================] - 0s 940us/step - loss: 1.2144 - mse: 1.2144
Epoch 31/50
38/38 [==============================] - 0s 949us/step - loss: 1.1813 - mse: 1.1813
Epoch 32/50
38/38 [==============================] - 0s 927us/step - loss: 1.1435 - mse: 1.1435
Epoch 33/50
38/38 [==============================] - 0s 936us/step - loss: 1.1060 - mse: 1.1060
Epoch 34/50
38/38 [==============================] - 0s 933us/step - loss: 1.0744 - mse: 1.0744
Epoch 35/50
38/38 [==============================] - 0s 957us/step - loss: 1.0461 - mse: 1.0461
Epoch 36/50
38/38 [==============================] - 0s 989us/step - loss: 1.0139 - mse: 1.0139
Epoch 37/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9859 - mse: 0.9859
Epoch 38/50
38/38 [==============================] - 0s 2ms/step - loss: 0.9590 - mse: 0.9590
Epoch 39/50
38/38 [==============================] - 0s 2ms/step - loss: 0.9352 - mse: 0.9352
Epoch 40/50
38/38 [==============================] - 0s 2ms/step - loss: 0.9100 - mse: 0.9100
Epoch 41/50
38/38 [==============================] - 0s 2ms/step - loss: 0.8866 - mse: 0.8866
Epoch 42/50
38/38 [==============================] - 0s 2ms/step - loss: 0.8605 - mse: 0.8605
Epoch 43/50
38/38 [==============================] - 0s 2ms/step - loss: 0.8385 - mse: 0.8385
Epoch 44/50
38/38 [==============================] - 0s 949us/step - loss: 0.8159 - mse: 0.8159
Epoch 45/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7954 - mse: 0.7954
Epoch 46/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7788 - mse: 0.7788
Epoch 47/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7614 - mse: 0.7614
Epoch 48/50
38/38 [==============================] - 0s 967us/step - loss: 0.7437 - mse: 0.7437
Epoch 49/50
38/38 [==============================] - 0s 964us/step - loss: 0.7274 - mse: 0.7274
Epoch 50/50
38/38 [==============================] - 0s 3ms/step - loss: 0.7124 - mse: 0.7124

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [72]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_mse = model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(model_loss, model_mse)

13/13 - 0s - loss: 0.6825 - mse: 0.6825 - 92ms/epoch - 7ms/step
0.6824760437011719 0.6824760437011719

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [73]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Export your model to a HDF5 file
model.save(file_path)

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [74]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Load the model to a new object
model_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data.

In [75]:
# Make predictions on the testing data
predictions = (model.predict(X_test_scaled) > 0.5).astype("int32")

13/13 [==============================] - 0s 947us/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [76]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predictions": predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [77]:
# Display sample data
results.head(10)

      predictions  actual
75              1       5
1283            1       6
408             1       6
1281            1       6
1118            1       6
1143            1       6
1215            1       6
181             1       5
1186            1       5
1252            1       5

In [80]:
results.shape

(400, 2)

In [83]:
count = results['predictions'].value_counts()
count

1    400
Name: predictions, dtype: int64